.logo_encabezado{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.formulario{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}
input{
    width: 400px;
    align-self: center;
}
.detalle{
    width: 400px;
    align-self: center;
}
.btnEjecutar{
    width: 100px;
    align-self: center;
}

input{
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(80, 105, 245);
    
}
.buscarTipologia{
    width: 415px;
    align-self: center;
}
textarea{
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(80, 105, 245);
}
.leyenda{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    body {
        background: #67aab9;
        font-size: 14px;
    }

    .header {
        text-align: center;
        font-size: 18px;
    }

    .leyenda{
        display: none;
    }

}

@media screen and (min-width:768px) {
   main {
    display: none;
   }
   header{
    display: none;
   }


}