*{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo_encabezado{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.formulario{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}
input{
    width: 400px;
    align-self: center;
}
.detalle{
    width: 400px;
    align-self: center;
}
.btnEjecutar{
    width: 100px;
    align-self: center;
}

input{
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(80, 105, 245);
    border-radius: 5px;
    
}
.buscarTipologia{
    width: 415px;
    align-self: center;
}
textarea{
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(80, 105, 245);
    border-radius: 5px;
}
.leyenda{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    width: 100px;
    align-self: center;
}

textarea{
    width: 400px;
    align-self: center;
    border-radius: 5px;
}

.swal2-confirm.swal2-styled{
    background-color: #67aab9;
}

.aviso{
    display: flex;
    justify-content: center;
}

h2{
    color: white;
    text-align: center;
}

h5{
    color: white;
    text-align: center;
}
@media screen and (min-width:420px) and (max-width: 767px) {
    body {
        background: #67aab9;
        font-size: 14px;

    }

    .appPrincipal{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .formulario{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .header {
        text-align: center;
        font-size: 18px;
    }

    .leyenda{
        display: none;
    }

}

@media screen and (min-width:768px) {
   main {
    display: none;
   }
   header{
    display: none;
   }


}

@media screen and (max-width:419px){
    main {
        display: none;
       }
       header{
        display: none;
       }
}